.main {
  margin-top: 100px;
}

.font-p-title {
  font-size: 12px;
  color: #9b9b9b;
}

ul.horizontal-list {
  min-width: 100%;
  list-style: none;
  margin-left: -30px;
}

ul.horizontal-list li {
  margin: 0 10px 0 0;
  display: inline;
}

.small-images {
  width: 16%;
}

.font-p-title {
  font-size: 12px;
  color: #9b9b9b;
}

.checked {
  color: orange;
}
.color-selected {
  width: 40px;
  height: 40px;
  border-spacing: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.color-option {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.btn-chart {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 200px;
  height: 36px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid gray;
  color: gray;
  transition: background 0.5s;
}

.btn-chart:hover {
	border: 1px solid #db3022;
  background-color: #db3022;
  color: #fff;
  text-decoration: none;
}

.btn-add-bag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 200px;
  height: 36px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid gray;
  color: gray;
  transition: background 0.5s;
}

.btn-add-bag:hover {
  border: 1px solid #db3022;
  background-color: #db3022;
  color: #fff;
  text-decoration: none;
}

.btn-buy {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 300px;
  height: 36px;
  font-size: 12px;
  color: #fff;
	background-color: #db3022;
  border-color: #db3022;
  transition: background 0.5s;
}

.btn-buy:hover {
  background-color: #ad1b0d;
  color: #fff;
  text-decoration: none;
}

.bintang {
  color: orange;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  margin-top: 18px;
  float: left;
  width: 70%;
}

.right {
  text-align: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border-radius: 25px;
}

.bar-5 {
  width: 80%;
  height: 10px;
  background-color: #db3022;
  border-radius: 25px;
}
.bar-4 {
  width: 0%;
  height: 10px;
}
.bar-3 {
  width: 0%;
  height: 10px;
}
.bar-2 {
  width: 0%;
  height: 10px;
}
.bar-1 {
  width: 0%;
  height: 10px;
}

.price {
  display: flex;
  justify-content: space-between;
}

.plus {
  color: black;
}

.minus {
  color: white;
}

/* Small */
@media (max-width: 767.98px) {
  .btn {
    position: fixed;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white !important;
    text-align: center;
  }

  .btnBtm {
    margin: 2px;
  }

  .btnGrup {
    display: none;
  }
}

/* Medium */
@media (min-width: 768px) and (max-width: 991.98px) {
  .btn {
    position: fixed;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white !important;
    text-align: center;
    padding: 5;
  }

  .btnBtm {
    margin: 2px;
  }

  .btnGrup {
    display: none;
  }
}