/* === Buttons === */
.btn {
	font-size: 14px;
	width: 100px;
	border-radius: 200px;
}

.btn-full {
	color: #fff;
	background-color: #db3022;
	border-color: #db3022;
}

.btn-full:hover {
	background-color: #ad1b0d;
	color: #fff;
}

.btn-outline {
	border: 1px solid gray;
	color: gray;
}

.btn-outline:hover {
	border: 1px solid #db3022;
	background-color: #db3022;
	color: #fff;
}

.btn-filter {
	width: 40px;
	border-radius: 12px;
}